<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
        <link rel="stylesheet" href="/stylesheets/admin/admin_newproduct.css">
</head>

<body>
    <%- include('../partials/adminheader.ejs') %>
        <main>
            <%- include('./partials/sidebar.ejs') %>
            <div style="flex: 1;">
                <div class="topsubmit">
                    <button type="submit" form="productform" formaction="/admin/product/edit/0/<%= data._id %>">save as draft</button>
                    <button type="submit" form="productform" formaction="/admin/product/edit/1/<%= data._id %>">Publish product</button>
                </div>
                <hr style="margin: 0;">
                <div style="display: flex;align-items: center;flex-direction: column;">
                    <div class="inputx">
                        <div>
                            <h4>Edit a product</h4>
                            <h6>General information*</h6>
                            <p>Edit</p>
                        </div>
                        <form method="post" id="productform"  enctype="multipart/form-data">
                            <div>
                                <div style="grid-template-columns: 1fr 1fr;" class="gridbox">
                                    <div class="labelbox">
                                        <label for="productname">product name</label>
                                        <input style="overflow: auto;" type="text" name="productname" id="productname" value="<%= data.productname %>">
                                    </div>
                                    <div class="labelbox">
                                        <label for="price">price</label>
                                        <input type="text" name="price" id="price" value="<%= data.price %>">
                                    </div>
                                </div>
                                <div style="grid-template-columns: 1fr 1fr;" class="gridbox">
                                    <div class="labelbox">
                                        <label for="category">category</label>
                                        <select name="category" id="category">
                                            <% datax.forEach(element=> { %>
                                                <option value="<%= element.category %>">
                                                    <%= element.category %>
                                                </option>
                                                <%}); %>
                                        </select>
                                    </div>
                                    <div style="grid-template-columns: 1fr 1fr;" class="gridbox">
                                        <div class="labelbox">
                                            <label for="stock">stock</label>
                                            <input type="text" name="stock" id="stock" value="<%= data.stock %>">
                                        </div>
                                        <div class="labelbox">
                                            <label for="brand">brand</label>
                                            <input type="text" name="brand" id="brand" value="<%= data.brand %>">
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="labelbox">
                                        <label for="description">Description</label>
                                        <input type="text" name="description" id="description" value="<%= data.description %>">
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <h4>photo</h4>
                                        <input style="width: 100%;height: 100px;border: dashed 2px rgb(204, 202, 202);"
                                            type="file" name="testImage" id="" multiple accept="image/*" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
</body>

</html>