<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="/stylesheets/admin/admin_product.css">
</head>
<body>
    <%- include('./partials/adminheader.ejs') %>
    <main>
        <%- include('./partials/sidebar.ejs') %>
        <div class="admintable">
            <h4>Overview</h4>
            <div class="usersearch">
                <input type="text" placeholder="find product">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#newProduct">New Product</button>
            </div>
            <table class="table table-striped table-bordered" >
                <thead>
                <tr>
                    <th style="width: 300px;">Product Name</th>
                    <th style="width: 350px;">Description</th>
                    <th style="text-align: center;">Inventory</th>
                    <th style="width: 300px;"></th>
                </tr>
                </thead>
                <tbody>
                <% data.forEach(element => { %>
                    <tr>
                        <td><%= element.productname %></td>
                        <td><%= element.description %></td>
                        <td style="text-align: center;"> <%= element.stock %></td>
                        <td>
                            <div class="useredit" style="display: flex;justify-content:space-between;">
                                <button class="del" onclick=<%= `deleteProduct("${element._id}")`%>><img src="/images/adminicons/trash.png" alt="deleteicon"></button>
                                <% if(element.status){ %>
                                    <button style="margin-right: 20px;" onclick=<%= `productStatus("${element._id}",${element.status})`%>>🟢 Published</button>
                                <% }else{ %>
                                    <button style="margin-right: 20px;" onclick=<%= `productStatus("${element._id}",${element.status})`%>>🔴 Un Published</button>
                                    <% } %>
                                <button type="button" onclick=<%= `productEdit("${element._id}")`%> >Edit</button>
                            </div>
                        </td>
                    </tr>

                <% }); %>
                </tbody>
            </table>
        </div>
    </main>

  
  <!-- Modal for delete -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Product</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          are you sure you want to delete?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="deleteProductBtn">Delete</button>
        </div>
      </div>
    </div>
  </div>



  <!-- modal for status -->

  <div class="modal fade" id="statusModal" tabindex="-1" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Product Status</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Published
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Unpublished
                </label>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="publishStatus">Change Status</button>
        </div>
      </div>
    </div>
  </div>

<!-- new product Modal -->

<div class="modal fade" id="newProduct" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">CREATE NEW PRODUCT</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="productform" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                <input required type="text" name="productname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
                <select required name="category" class="form-select" id="inputGroupSelect01">
                  <option selected>Choose Category</option>
                  <% category.forEach(element => { %>
                    <option value="<%= element.category %>"><%= element.category %></option>
                  <%}); %>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
                <input required type="text" name="brand" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Description</span>
              <textarea name='description' class="form-control" aria-label="With textarea" required></textarea>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="button" onclick="addVarient()">Add new varient</button>
            </div>
            <ul class="list-group" id="linkgroupnew">
            </ul>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" form="productform" formaction="/admin/product/new/0" class="btn btn-secondary">Save as Draft</button>
          <button type="submit" formaction="/admin/product/new/1" form="productform" class="btn btn-primary">Publish Product</button>
        </div>
      </div>
    </div>
  </div>




  <!-- edit product -->
  <div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">EDIT PRODUCT</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" id="editProductform" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productname" aria-label="Checkbox for following text input">
                </div>
                <span class="input-group-text" id="inputGroup-sizing-default">Product Name</span>
                <div class="form-floating">
                    <input id="productname" required type="text" name="productname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <label for="productname"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productprice" aria-label="Checkbox for following text input">
                </div>
                <span class="input-group-text" id="inputGroup-sizing-default">Price</span>
                <div class="form-floating">
                    <input id="productprice" required type="number" name="price" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <label for="productprice"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productcategory" aria-label="Checkbox for following text input">
                </div>
                <label class="input-group-text" for="inputGroupSelect01">Category</label>
                <div class="form-floating">
                    <select id="productcategory" required name="category" class="form-select" id="inputGroupSelect01">
                    <option selected>Choose</option>
                    <% category.forEach(element => { %>
                        <option value="<%= element.category %>"><%= element.category %></option>
                    <%}); %>
                    </select>
                    <label for="productcategory"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productstock" aria-label="Checkbox for following text input">
                </div>
                <span class="input-group-text" id="inputGroup-sizing-default">Stock</span>
                <div class="form-floating">
                    <input id="productstock" required type="number" name="stock" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <label for="productstock"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productbrand" aria-label="Checkbox for following text input">
                </div>
                <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
                <div class="form-floating">
                    <input id="productbrand" required type="text" name="brand" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    <label for="productbrand"></label>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                    <input class="form-check-input mt-0 x1" type="checkbox" value="productdes" aria-label="Checkbox for following text input">
                </div>
                <span class="input-group-text">Description</span>
                <div class="form-floating">
                    <textarea id="productdes" required name="description" class="form-control" aria-label="With textarea"></textarea>
                    <label for="productdes"></label>
                </div>
              </div>
            <div class="input-group mb-3">
                <div class="input-group-text">
                  <input class="form-check-input mt-0 x1" type="checkbox" value="productfile" aria-label="Checkbox for following text input">
                </div>
                <input required name="testImage" class="form-control" type="file" id="productfile" multiple accept="image/*">
            </div>
          </form>
          <div id="selectedImage2"></div>
        </div>
        <div class="modal-footer">
          <button type="submit" formaction=""  form="editProductform" class="btn btn-secondary editproductbtnsub">Save as Draft</button>
          <button type="submit" formaction=""  form="editProductform" class="btn btn-primary editproductbtnsub">Publish Product</button>
        </div>
      </div>
    </div>
  </div>

  <%- include('./partials/footer.ejs') %>

<script src="/javascripts/admin/admin_product2.js"></script>
</body>
</html>