<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="icon" href="/favicon/favicon.ico" type="image/x-icon">
    <%- include('../partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="/stylesheets/user/view.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>

        <nav aria-label="breadcrumb" class="breadx">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
<<<<<<< HEAD
              <li class="breadcrumb-item active" aria-current="page"><%= item[0].productname %></li>
            </ol>
        </nav>

        <% if(item[0].varient.stock==0) {%>
        <div style="position: absolute;top: 180px;right: 30%;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Out of Stock</strong> The product <%= item[0].productname %> is out of stock
=======
              <li class="breadcrumb-item active" aria-current="page"><%= item[varient].productname %></li>
            </ol>
        </nav>

        <% if(item[varient].varient.stock==0) {%>
        <div style="position: absolute;top: 180px;right: 30%;" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Out of Stock</strong> The product <%= item[varient].productname %> is out of stock
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% } %>

        <div class="submain">
            <div class="productimage">
                <div class="img-container">
                    <div id="zoom"></div>
                    <% if(locals.item){ %>
<<<<<<< HEAD
                        <img class="imgzoomx" src="/uploads/<%=item[0].varient.image[0] %>" alt="...">
                    <% }; %>
                </div>
                <% if(item[0].varient.image.length>1) {%>
                    <div class="productsubimage">
                        <% for(i=1;i<item[0].varient.image.length;i++){ %>
                            <img class="imgsmall" src="/uploads/<%= item[0].varient.image[i] %>" alt="...">
=======
                        <img class="imgzoomx" src="/uploads/<%=item[varient].varient.image[0] %>" alt="...">
                    <% }; %>
                </div>
                <% if(item[varient].varient.image.length>1) {%>
                    <div class="productsubimage">
                        <% for(i=1;i<item[varient].varient.image.length;i++){ %>
                            <img class="imgsmall" src="/uploads/<%= item[varient].varient.image[i] %>" alt="...">
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                        <% } %>
                    </div>
                <% } %>
            </div>
            <div class="product">
                <div style="display: flex;width: 100%;justify-content: space-between;">
<<<<<<< HEAD
                    <p style="display: inline;font-size: x-large;font-weight: 400;"><%= item[0].productname %></p>
                    <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to add wishlist"<% } %>>
                        <button onclick=<%=`addwishlist('${item[0]._id}',${item[0].varient.id})` %> style="scale: 1.2;"  type="button" class="btn btn-light btn-lg disbut"<%if(!locals.auth){  %>  disabled<% } %>>❤️</button>
=======
                    <p style="display: inline;font-size: x-large;font-weight: 400;"><%= item[varient].productname %></p>
                    <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to add wishlist"<% } %>>
                        <button onclick=<%=`addwishlist('${item[varient]._id}')` %> style="scale: 1.2;"  type="button" class="btn btn-light btn-lg disbut"<%if(!locals.auth){  %>  disabled<% } %>>❤️</button>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                    </span>
                </div>
                
    
                <div style="position: absolute;top: 210px;left: 80%;z-index: 1000;" id="liveAlertPlaceholder"></div>
    
    
                <div>
<<<<<<< HEAD
                    <h6 style="color: gray;">BRAND:<%= item[0].brand %></h6>
                </div>
                <hr style="border-color: rgb(225, 225, 225);">
                <div style="margin-top: 30px;">
                    <h3 style="display: inline;color: red;">Rs. <%= item[0].varient.price %></h3>
                    <p style="display: inline;color: gray;">(Inclusive of all taxes)</p>
                </div>
                <div style="margin-top: 10px;width: 100%;height:190px;">
                    <p><%= item[0].description %></p>
=======
                    <h6 style="color: gray;">BRAND:<%= item[varient].brand %></h6>
                </div>
                <hr style="border-color: rgb(225, 225, 225);">
                <div style="margin-top: 30px;">
                    <h3 style="display: inline;color: red;">Rs. <%= item[varient].varient.price %></h3>
                    <p style="display: inline;color: gray;">(Inclusive of all taxes)</p>
                </div>
                <div style="margin-top: 10px;width: 100%;height:190px;">
                    <p><%= item[varient].description %></p>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                </div>
                <div style="margin-bottom: 40px; display: flex;justify-content: space-between;align-items: center;">
                    <div>
                        <label style="font-size: large;" for="qty">Quantity</label>
                        <select style="height: 40px;width: 60px;" name="" id="qty">
                        </select>
                    </div>
                    <div>
                        <h3>Colors Available</h3>
<<<<<<< HEAD
                        <% locals.varient.forEach((element) => { %>
                            <% if(element.varient.id==item[0].varient.id){ %>
                                <a href="/shop/view/<%= item[0].productId %>/<%= element.varient.id %>" class="btn btn-secondary disabled"><%= element.varient.color %></a>
                            <% }else{ %>
                                <a href="/shop/view/<%= item[0].productId %>/<%= element.varient.id %>" class="btn btn-secondary"><%= element.varient.color %></a>
=======
                        <% locals.item.forEach((element,i) => { %>
                            <% if(i==varient){ %>
                                <a href="/shop/view/<%= element.productId %>/<%= i %>" class="btn btn-secondary"><%= element.varient.color %></a>
                            <% }else{ %>
                                <a href="/shop/view/<%= element.productId %>/<%= i %>" class="btn btn-secondary"><%= element.varient.color %></a>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                            <% } %>
                        <% }); %>
                    </div>
                </div>
<<<<<<< HEAD
                <% if(item[0].varient.stock==0){ %>
=======
                <% if(item[varient].varient.stock==0){ %>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                    <div>
                        <h1>out of stock</h1>
                    </div>
                <% } %>
                <div style="display: flex;gap: 10px;align-items: center;">
<<<<<<< HEAD
                    <% if(item[0].varient.stock==0){ %>
=======
                    <% if(item[varient].varient.stock==0){ %>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                        <span>
                            <form class="form-floating">
                                <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" >
                                <label for="floatingInputValue">Enter email to get notified</label>
                            </form>
                        </span>
                        <button type="button" class="btn btn-danger btn-lg">Notify Me</button>
                    <% }else{ %>
                    <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to add to cart"<% } %>>
<<<<<<< HEAD
                        <button onclick=<%=`addToCart('${item[0]._id}',${item[0].varient.id})` %> type="button" <%if(!locals.auth){  %> disabled<% } %> class="btn btn-dark btn-lg disbut">ADD TO CART</button>
=======
                        <button onclick=<%=`addToCart('${item[varient]._id}')` %> type="button" <%if(!locals.auth){  %> disabled<% } %> class="btn btn-dark btn-lg disbut">ADD TO CART</button>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
                    </span>
                    <button type="button" class="btn btn-danger btn-lg">BUY NOW</button>
                    <% } %>
                </div>
<<<<<<< HEAD
            </div>
        </div>
        <div class="submain2">
            <div class="review-main">
                <div style="display: flex;justify-content: space-between;align-items: center;">
                    <div style="position: relative;">
                        <p style="font-size: xx-large;font-weight: 700;display: inline;">Ratings & Reviews</p>
                        <div class="ratespan">
                        <p style="display: inline;"><%= locals.totalrate[0]?.avgRate.toFixed(1) %>⭐</p>
                        </div>
                    </div>
                    <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to rate product"<% } %>>
                        <button <%if(!locals.auth){  %> disabled<% } %> class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rateModal">RATE PRODUCT</button>
                    </span>
                </div>
                <div>
                    <% locals.item[0].varient.review.forEach(element=>{ %>
                        <div class="reviewlist shadow-none p-3 mb-2 mt-2 rounded">
                            <p style="display: inline;"><b>From:</b><%= element.user %></p>
                            <span class="rounded" <% if(element.rate>=4) {%>style="background-color: rgb(0, 147, 0);padding: 0 5px 0 5px;" <% }else{ %>style="background-color: rgb(254, 160, 52);padding: 0 5px 0 5px;" <% } %>>
                                <p style="display: inline;color: white;"><%= element.rate %>⭐</p>
                            </span>
                            <p><b>Review:</b><%= element.review %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="productdetails">
                <p style="font-size: xx-large;font-weight: 700;">Product Details</p>
                <% locals?.item[0].varient.productdetails.forEach(element=>{ %>
                    <p style="font-weight: 500;"><%= element %></p>
                <% }) %> 
            </div>
        </div>

        <div class="similarproduct">
            <h2>similar product</h2>
            <div>
                <% if(locals?.similar && locals.similar.length>0) {%>
                    <% locals.similar.forEach(element => { %>
                        <div style="display: flex;flex-direction: column;align-items: center;">
                            <img style="height: 200px;width: 200px;" src=<%= `/uploads/${element.varient.image[0]}` %> alt="">
                            <a style="text-decoration: none;" href="/shop/view/<%= element.productId %>/<%= element.varient.id %>"><%= element.productname %></a>
                        </div>
                    <% }); %>
                <% } %>
            </div>
        </div>
=======
            </div>
        </div>
        <div class="review">
            <div class="review-main">
                <p style="font-size: xx-large;font-weight: 700;">Ratings & Reviews</p>
                <span class="ratestar">
                    <button>⭐</button><button>⭐</button><button>⭐</button><button>⭐</button><button>⭐</button>
                </span>
                <button>Rateit</button>
            </div>
        </div>
>>>>>>> f3d783c091eea06ab81e7c8683486219bd7e2451
        
    </main>
    <%- include('./partials/footer.ejs') %>




    <!-- product rate modal -->
    <div class="modal fade" id="rateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Rate Product</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/user/rateproduct/<%= item[0].productId %>/<%= item[0].varient.id %>" id="rateform">
                <div class="ratestar">
                    <input type="radio" name="rate" value="1" id="rate1">
                    <label for="rate1">☆</label>
                    <input type="radio" name="rate" value="2" id="rate2">
                    <label for="rate2">☆</label>
                    <input type="radio" name="rate" value="3" id="rate3">
                    <label for="rate3">☆</label>
                    <input type="radio" name="rate" value="4" id="rate4">
                    <label for="rate4">☆</label>
                    <input type="radio" name="rate" value="5" id="rate5">
                    <label for="rate5">☆</label>
                    <div class="form-floating">
                        <textarea class="form-control" name="review" required placeholder="Leave a Review Here" id="floatingTextarea"></textarea>
                        <label style="font-size: large;" for="floatingTextarea">Comments</label>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="rateform" class="btn btn-primary">Rateit</button>
            </div>
          </div>
        </div>
      </div>

    <script src="/javascripts/user/view.js"></script>
</body>
</html>