<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../partials/bootstrap.ejs') %>
    <link rel="stylesheet" href="/stylesheets/user/view.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="productimage">
            <div class="img-container">
                <div id="zoom"></div>
                <% item.img.forEach((element,i)=> { %>
                    <img class="imgzoomx" src="data:image/png;base64,<%= element.data %>" alt="...">
                <% }); %>
            </div>
        </div>
        <div class="product">
            <div style="display: flex;width: 100%;justify-content: space-between;">
                <p style="display: inline;font-size: x-large;font-weight: 400;"><%= item.productname %></p>
                <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to add wishlist"<% } %>>
                    <button onclick=<%=`addwishlist('${item._id}')` %> style="scale: 1.2;"  type="button" class="btn btn-light btn-lg disbut"<%if(!locals.auth){  %>  disabled<% } %>>❤️</button>
                </span>
            </div>
            

            <div style="position: absolute;top: 210px;left: 80%;z-index: 1000;" id="liveAlertPlaceholder"></div>


            <div>
                <h6 style="color: gray;">BRAND:<%= item.brand %></h6>
            </div>
            <hr style="border-color: rgb(225, 225, 225);">
            <div style="margin-top: 30px;">
                <h3 style="display: inline;color: red;">Rs. <%= item.price %></h3>
                <p style="display: inline;color: gray;">(Inclusive of all taxes)</p>
            </div>
            <div style="margin-top: 10px;width: 100%;height:250px;">
                <p><%= item.description %></p>
            </div>
            <div style="margin-top: 10px;">
                <span <%if(!locals.auth){  %> class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-title="login to add to cart"<% } %>>
                    <button onclick=<%=`addToCart('${item._id}')` %> type="button" <%if(!locals.auth){  %> disabled<% } %> class="btn btn-dark btn-lg disbut">ADD TO CART</button>
                </span>
                <button type="button" class="btn btn-danger btn-lg">BUY NOW</button>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>

    <script src="/javascripts/user/view.js"></script>
</body>
</html>